/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
    overflow: hidden;
}

/* Video Background */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place behind everything */
}

.head h1{
    font-size: 50px;
    color: #fff;
}

/* Centered Login Box */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}

.login-box {
    background: rgba(0, 0, 0, 0.7); /* Black transparent background */
    color: #fff; /* White text */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}
.login-box h2{
    margin-bottom: 20px;
}
/* Form Elements */
.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 0.7rem;
    background-color: #00b894;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.login-btn:hover {
    background-color: #019875;
}